body {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #fffbf4;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 750px) and (min-width: 10px) {
    .header nav {
        display: none !important;
    }

    .dropdown-menu {
        flex-direction: column;
        background-color: #fffbf4;
        position: fixed;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        border-top: 1px solid #ddd;
        padding: 20px;
        z-index: 10;
    }
    
    .dropdown-menu.show {
        display: block !important;
    }
    
    .dropdown-menu a {
        display: block !important;
        padding: 10px 0;
        color: #000;
        text-decoration: none;
        font-size: 20px;
        border-bottom: 1px solid #ddd;
    }
    
    .dropdown-menu a:last-child {
        border-bottom: none;
    }
    
    .menu-placeholder {
        display: block !important;
        font-family: 'Times New Roman', serif;
        font-size: 20px;
        cursor: pointer;
        text-align: left;
        padding-left: 20px;
    }

    .menu-placeholder:hover {
        color: #ffc800;
        text-decoration: underline;
    }

    .menu-image {
        display: block;
        margin: auto;
        margin-top: 30px;
        max-width: 30%;
        height: auto;
    }

    .header {
        width: 100%;
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
        background-color: #fffbf4;
        z-index: 10;
    }

    .header .container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #000;
        box-sizing: border-box;
    }
    
    .nav-logo {
        height: 40px;
        width: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: left;
    }

    .date {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; 
        margin-top: 80px;
    }
    
    .ca {
        margin-top: 0px; 
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        line-height: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .lineI {
        font-size: 2.9em;
        width: 100%;
    }

    .lineII {
        font-size: 5em;
        width: 100%;
    }
}