body {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #fffbf4;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 836px) and (min-width: 751px) {
    .lineI {
        font-size: 11.5vw;
    }

    .lineII{
        font-size: 3.5vw;
    }

}